@using CT2_CNW_DoAnChanGaGoiNem.Models;
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    //kh
    List<KHACHHANG> listKh = ViewBag.kh as List<KHACHHANG>;
    //SLiTEM DA BAN
    int sl = ViewBag.slItem;
    int slW = ViewBag.itemWeek;
    double total = ViewBag.tongtien;
}
@model List<CHITIETHOADON>
<div class="section__content section__content--p30">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="overview-wrap">
                    <h2 class="title-1">Tổng quát</h2>
                </div>
            </div>
        </div>
        <div class="row m-t-25">
            <div class="col-sm-6 col-lg-3">
                <div class="overview-item overview-item--c1">
                    <div class="overview__inner">
                        <div class="overview-box clearfix">
                            <div class="icon">
                                <i class="fa fa-users"></i>
                            </div>
                            <div class="text">
                                <h2>@listKh.Count()</h2>
                                <span>Khách hàng online</span>
                            </div>
                        </div>
                        <div class="overview-chart">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="overview-item overview-item--c2">
                    <div class="overview__inner">
                        <div class="overview-box clearfix">
                            <div class="icon">
                                <i class='fas fa-shopping-cart'></i>
                            </div>
                            <div class="text">
                                <h2>@sl</h2>
                                <span>Mặt hàng đã bán</span>
                            </div>
                        </div>
                        <div class="overview-chart">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="overview-item overview-item--c3">
                    <div class="overview__inner">
                        <div class="overview-box clearfix">
                            <div class="icon">
                                <i class="fa fa-calendar-check-o"></i>
                            </div>
                            <div class="text">
                                <h2>@slW</h2>
                                <span>Tuần này</span>
                            </div>
                        </div>
                        <div class="overview-chart">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="overview-item overview-item--c4">
                    <div class="overview__inner">
                        <div class="overview-box clearfix">
                            <div class="icon">
                                <i class="fa fa-dollar"></i>
                            </div>
                            <div class="text">
                                <h3 style="color:#fff;">@string.Format("{0:#,##0} VND", total)</h3>
                                <span>Tổng thu nhập</span>
                            </div>
                        </div>
                        <div class="overview-chart">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-9">
                <h2 class="title-1 m-b-25">Sản phẩm đã bán</h2>
                <div class="table-responsive table--no-card m-b-40">
                    <table class="table table-borderless table-striped table-earning">
                        <thead>
                            <tr>
                                <th>Mã HD</th>
                                <th>Sản phẩm</th>
                                <th>SL</th>
                                <th>Size</th>
                                <th>Giá</th>
                                <th>Tổng</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (CHITIETHOADON c in Model) {
                                <tr>
                                    <td>@c.MAHD</td>
                                    <td>@c.SANPHAM.TENSANPHAM</td>
                                    <td>@c.SOLUONG</td>
                                    <td class="text-right">@c.KICHTHUOC</td>
                                    <td class="text-right">@c.GIA</td>
                                    <td class="text-right">@(c.SOLUONG * c.GIA) VND</td>
                                    
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-lg-3">
                <h2 class="title-1 m-b-25">Top Khách Hàng</h2>
                <div class="au-card au-card--bg-blue au-card-top-countries m-b-40">
                    <div class="au-card-inner">
                        <div class="table-responsive">
                            <table class="table table-top-countries">
                                <tbody>
                                   @foreach (KHACHHANG k in listKh.Take(8)) { 
                                       <tr>
                                            <td>@k.USERNAME</td>
                                        </tr>
                                   }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="copyright">
                    <p>Copyright © 2020 All rights reserverd <a href="#">Diamond Sleep</a>.</p>
                </div>
            </div>
        </div>
    </div>
</div>

