@using CT2_CNW_DoAnChanGaGoiNem.Models;
@using PagedList.Mvc;
@using PagedList;
@{
    ViewBag.Title = "Category";
    Layout = "~/Views/Shared/_LayoutWeb.cshtml";
    List<SANPHAM> thich = ViewBag.thich as List<SANPHAM>;
    List<THUONGHIEU> lth = ViewBag.th as List<THUONGHIEU>;
    List<LOAI> ll = ViewBag.loai as List<LOAI>;
    List<string> lkt = ViewBag.kt as List<string>;
    List<SANPHAM> lspsearch = ViewBag.count as List<SANPHAM>;
    string searchString = "";
    if (Session["search"] != null) {
        searchString = Session["search"].ToString();
    }
}
@model IPagedList<CT2_CNW_DoAnChanGaGoiNem.Models.SANPHAM>

<!-- Breadcrumb Begin -->
<div class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__links">
                    <a href="@Url.Action("Index", "KhachHang")"><i class="fa fa-home"></i> Home</a>
                    @if (Request.QueryString["sale"] == "true") {
                        <a href="@Url.Action("Category", "Product")">Shop</a>
                        <span>Top Sale</span>
                    }
                    @if (Request.QueryString["searchBy"] != null) {
                        <a href="@Url.Action("Category", "Product")">Shop</a>
                        <span>@Request.QueryString["searchBy"]</span>
                    }
                    @if (Request.QueryString["maloai"] == null && Request.QueryString["math"] == null && Request.QueryString["searchBy"] == null && Request.QueryString["sale"] == null) {
                        <span>Shop</span>
                    }
                    @if (Request.QueryString["maloai"] != null && Request.QueryString["math"] != null) {
                        <a href="@Url.Action("Category", "Product")">Shop</a>
                        <a href="@Url.Action("Category", "Product", new { maloai = Request.QueryString["maloai"]})">@{
                        string ten = "";
                        foreach(LOAI l in ll){
                                if (l.MALOAI == Request.QueryString["maloai"]) {
                                    ten = l.TENLOAI;
                                }
                            }} @ten
                    </a>
                    <span>
                        @{
                            string th = "";
                            foreach (THUONGHIEU t in lth)
                            {
                                if (t.MATHUONGHIEU == Request.QueryString["math"])
                                {
                                    th = t.TENTHUONGHIEU;
                                }
                            }} @th
                    </span>
                    }
                    @if(Request.QueryString["maloai"] != null && Request.QueryString["math"] == null){
                        <a href="@Url.Action("Category", "Product")">Shop</a>
                        <span>@{
                        string ten = "";
                        foreach(LOAI l in ll){
                                if (l.MALOAI == Request.QueryString["maloai"]) {
                                    ten = l.TENLOAI;
                                }
                            }} @ten
                    </span>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->
<!-- Shop Section Begin -->
<section class="shop spad">
    <div class="container">
        <div class="row">
            <!--SORT-->
            <div class="col-lg-3 col-md-3">
                <div class="shop__sidebar">
                    <div class="sidebar__categories">
                        <div class="section-title">
                            <h4>THEO LOẠI - THƯƠNG HIỆU</h4>
                        </div>
                        <div class="categories__accordion">
                            <div class="accordion" id="accordionExample">
                            @{int num = 1;
                            foreach (LOAI l in ll) {
                                
                                string id = "collapse" + num;
                                <div class="card">
                                    <div class="card-heading active">
                                        <a href="@Url.Action("Category", "Product", new { maloai = l.MALOAI})">@l.TENLOAI</a>
                                    </div>
                                    <div id="@id" class="collapse show" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <ul>
                                                 @foreach (THUONGHIEU t in lth) {
                                                     if (l.MALOAI == t.MALOAI) {
                                                         <li><a href="@Url.Action("Category", "Product", new { maloai = l.MALOAI, math = t.MATHUONGHIEU})">@t.TENTHUONGHIEU</a></li>
                                                     }
                                                  }
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                num++;
                            }
                            }
                            </div>
                        </div>
                    </div>
                    <div class="sidebar__color">
                        <div class="section-title">
                            <h4>THEO KÍCH THƯỚC</h4>
                        </div>
                        <div class="size__list color__list">
                            <form action="/Product/Category">
                                @{
                                foreach (string k in lkt)
                                {
                                    @Html.RadioButton("searchBy", @k, new { id = @k })<label for="@k" style="margin-top:-23px;"> @k</label>
                                }
}
                                <input type="submit" style="font-size: 14px;color: #0d0d0d;text-transform: uppercase;letter-spacing: 2px;font-weight: 700;display: inline-block;padding: 5px 16px 5px 24px;border: 2px solid #ff0000;position: relative;right: 0;bottom: -5px;border-radius: 2px;" value="CẬP NHẬT" />
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!--END SORT-->
            <div class="col-lg-9 col-md-9">
                @if (Session["search"] != null)
                {
                    <h4>Hiển thị kết quả cho: @Session["search"].ToString() (@lspsearch.Count()) kết quả.</h4>
                    Session.Remove("search");
                }
                <div class="row mt-5">
                    @foreach (SANPHAM s in Model)
                    {
                        <div class="col-lg-4 col-md-6">
                            <div class="product__item">
                                <div class="product__item__pic set-bg" data-setbg="/Content/img/products/@s.HINHMINHHOA">
                                    @if (s.MOI == 1)
                                    {
                                        <div class="label new">New</div>
                                    }
                                    @if (s.GIAM != 0)
                                    {
                                        <div class="labelr sale">- @int.Parse((s.GIAM * 100).ToString()) %</div>
                                    }
                                    <ul class="product__hover">
                                        <li><a href="/Content/img/products/@s.HINHMINHHOA" class="image-popup"><span class="arrow_expand"></span></a></li>
                                        @if (Session["kh"] != null && thich.Any(t => t.MASANPHAM == s.MASANPHAM))
                                        {
                                            <li><a href="@Url.Action("AddLoveProduct", "Product", new { masp = s.MASANPHAM})" style="background:red;"><span class=" icon_heart_alt" style="color:#fff;"></span></a></li>
                                        }
                                        else
                                        {
                                            <li><a href="@Url.Action("AddLoveProduct", "Product", new { masp = s.MASANPHAM})"><span class="icon_heart_alt"></span></a></li>
                                        }
                                        <li><a href="@Url.Action("ProductDetail", "Product", new { masp = s.MASANPHAM})"><span class="icon_bag_alt"></span></a></li>
                                    </ul>
                                </div>
                                <div class="product__item__text">
                                    <h6><a href="@Url.Action("ProductDetail", "Product", new { masp = s.MASANPHAM})">@s.TENSANPHAM</a></h6>
                                    <div class="rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                    <div style="margin-bottom:10px;">
                                        @if (s.SLTON == 0)
                                        {
                                            <small style="color:red;">Hết Hàng</small>
                                        }
                                        else
                                        {
                                            <small>Còn : @s.SLTON</small>
                                        }
                                    </div>
                                    @if (s.GIAM != 0)
                                    {
                                        <div class="product__price" style="color:red;">@string.Format("{0:#,##0} VND", s.GIABAN) <span>@string.Format("{0:#,##0} VND", s.GIAGOC)</span></div>
                                    }
                                    else
                                    {
                                        <div class="product__price">@string.Format("{0:#,##0} VND", s.GIAGOC)</div>
                                    }
                                </div>
                            </div>
                        </div>
                    }
                    <div class="col-lg-12 text-center">
                            @Html.PagedListPager(Model, page => Url.Action("Category", "Product", new { page, maloai = Request.QueryString["maloai"], math = Request.QueryString["math"] }))
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Shop Section End -->
